*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

/* hero section */

header {
    background-image: url("./images/hero-image.jfif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

header h1{
    transition: all 0.2s ease-in-out;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #336655;
    font-size: 5rem;
    text-shadow: 0 0 4px black;
}

header p{
    transition: all 0.2s ease-in-out;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #93ff96;
    font-size: 2rem;
    text-shadow: 0 0 4px black;
    margin-bottom: 5rem;
}

/* card section */
main {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-wrapper {
    text-shadow: 0 0 1px black;
    color: #365A9D ;
    background-color: #C4D5AE;
    text-align: center;
    padding: 3rem;
}
.card-wrapper {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

main h1 {
    transition: all 0.2s ease-in-out;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.card {
    transition: all 0.2s ease-in-out;
    border-radius: 2rem;
    background-color: #336655;
    padding: 3rem;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3, .card p {
    margin-top: 1rem;
}

.card p {
    color: #5BB0B6;
}

.card h3 {
    font-weight: 700;
}

.card img {
    border: 5px solid white;
    border-radius: 1rem;
}

/* footer section */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: #5BB0B6;
}

footer .guide-card {
    transition: all 0.2s ease-in-out;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 3rem;
    margin-top: 5rem;
    background-color: #a7e393;
    border: 5px dotted #336655;
    border-bottom: 10px solid #336655;
}

.guide-card .guide-card-info {
    width: 400px;
    margin-left: 2rem;
    text-align: center;
}

footer img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    border: 3px solid #336655;
}

.guide-card h2 , .guide-card h3 {
    margin-top: 1rem;
}

.guide-card h2 {
    font-weight: 800;
}

/* animations section */

header h1:hover {
    background-color: #53a68a;
}

header p:hover {
    background-color: #7eac6f;
}

.card:hover {
    transform: scale(1.05);
}

main h1:hover {
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: #7eac6f;
}

.guide-card:hover {
    background-color: #92da7a;
    transform: scale(1.05);
}